.header {
  position: relative;
  /* border: 1px solid lime; */
  top: 0;
  left: 0;
  height: 72px;
  z-index: 10;
  width: 100%;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.primaryNav,
.utilityNav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.primaryNav a {
  position: relative;
}

.primaryNav a::after {
  position: absolute;
  content: '';

  left: 0;
  bottom: 2px;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: 0;
  transition: opacity 500ms ease;
}

.primaryNav a.active::after {
  opacity: 1;
}

.primaryNav a.hoverUnderline:hover::after {
  background: white;
  opacity: 1;
}
.primaryNav {
  margin-left: 290px;
}

.header a {
  color: inherit;
  text-decoration: none;

  font-size: var(--text-nav);
  line-height: var(--text-nav-line-height);
  letter-spacing: 0.26px;
}

.menuOpen {
  /* color: red; */
  color: var(--color-black);
}

.navShell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
