.section {
  margin-top: 100px;
  padding: 0 30px 140px 15.8vw;
}

.intro {
  width: 310px;
}

.intro h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.intro p {
  margin: 42px 0 0;
  font-size: 13px;
  line-height: 22px;
}

.intro a {
  display: inline-block;
  margin-top: 28px;

  color: inherit;
  font-size: 13px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.imageGrid {
  display: grid;
  grid-template-columns: 341px 341px 247px;
  column-gap: 80px;

  margin-top: 55px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
